body {
    background-color: #F2F3F5;
}
.container{
   
}
* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

.background-color-grey {
    background-color: #e4e6eb
}
.sub_nav{

    
    z-index: 1000;
}
.sub_nav_sticky{
   
}
.facebook-head {
    background: linear-gradient(0deg,
            white 50%, rgb(73 107 144));
    width: 100vw;
    margin-left: -0.75rem;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cover-image {
    margin-top: 50px;


}

.cover-image img {

    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar-nav .active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

.navbar {
    background-color: #274d97;
}
.navbar-nav-top .nav-item{
    margin-left: 15px;
}
.content {
    margin-top: 80px;

    position: relative;
}

.personal-parent {
    height: 100px;
}
.personal-introduction-aside{
    
    scroll-behavior: smooth;
    top: -80px;
    width: 100%;
    height: 1000px;
    
    -ms-overflow-style: none;
    overflow-y: scroll;

    z-index: 5;
  
}
.personal-introduction-aside::-webkit-scrollbar {
  display: none;
}
.personal {
    position: relative;
    width: 100%;
    position: absolute;
    top: -130px;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.personal-information {

    font-weight: 500;


}

.personal-information button {

    height: 36px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.personal-information__name {

    font-weight: 800;
    font-size: 32px;
    margin: 0;
    padding: 0;

}

.personal-information span:nth-child(2) {
    font-size: 12px;
    margin-left: 10px;
}

.personal-image {

    margin-left: -1rem;

}

.personal-image_child {


    margin-left: -1.75rem;
}

.personal-image img {
    box-sizing: border-box;
    width: 200px;

    border: 5px solid white;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);

}

.personal-information-button {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    gap: 5px;

}

.personal-information-button button span {


    font-size: 12px;


}

.amount-follow {
    margin: 0;
    padding: 0;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    align-items: center;
    font-size: 20px;
}

.card-title img {
    width: 10px;
    border-radius: 50%;
}

.card_index {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.card_index_left {
    display: flex;
}

.card_index_left p {
    margin-left: 5px;
}

.card_index_right {}

.card_emotion {
    display: flex;
    justify-content: space-around;
}

.card_emotion img {
    width: 50px;

}

.card_emotion div {
    display: flex;
    align-items: center;

}

.card-4-images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    justify-content: center;
}

.card-4-images img {
    width: 48%;

}

.card-9-images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    justify-content: center;
    padding-bottom: 15px;
}

.card-9-images img {
    width: 31%;

}
.card-footer-introduction {
    margin-left: 16px;
}
.card-footer-introduction a{
    font-size: 12px;
    margin-left: 5px;
}


.sub_nav_modal{
    display: none;
    width: 100%;
    position: fixed;

    height: 50px;
    background-color: #fff;
    line-height:50px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub_nav_modal_row{
    display: flex;
    justify-content: space-between;
}
.sub_nav_modal .avt img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.swiper-slide{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.swiper{
    margin-bottom: 20px;
} 

/* Modal account information  */
.account_information{
    position: fixed;
    width: 100vw;
    z-index: 100;

    font-family: "Roboto", sans-serif;
    padding: 0;
   
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cookiesContent {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    button.close {
      width: 30px;
      font-size: 20px;
      color: #c0c5cb;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      margin-bottom: 10px;
    }
   .cookiesContent img {
      width: 82px;
      height: 82px;
      margin-bottom: 15px;
      border-radius:50%;
      object-fit: cover;
      margin-top: -20px;
    }
    
    .cookiesContent p {
     
      font-size: 18px;
    }
    .cookiesContent span {
     
      font-size: 18px;
    }
    .cookiesContent  button.accept {
      background-color: #008cff;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgb(186, 232, 253);
    }
    .account_detail{
      margin-top: 20px;
      align-self: flex-start ;

        text-align: left;
        margin-bottom: 90px;
        margin-left: 30px;
    }
  
    .account_detail p{
        margin-top: 10px;
        font-size: 22px;
    }
    .account_detail b{
        font-size: 18px;
        display:  inline-block;
        width: 100px;
    }
  
    .account_detail p{
        margin-top: 10px;
        font-size: 22px;
    }
  
/* End Modal account information  */
/* post_writing css  */
    .post_writing{
        margin-top: 20px;
        height: 100px;
        padding: 10px;
        padding-top: 25px;
    }
    .post_writing_thumbnail{
        display: flex;
        align-items: center;
    }
    .post_writing_thumbnail img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    .post_writing_thumbnail input{
        border-radius: 25px;;
        margin-left: 20px;
        width: 100%;
        height: 50px;
        background-color: #e4e6eb ;
        border: none;
        cursor: pointer;
      
    }
    .post_writing_thumbnail input:hover{
      
        background-color: #dddddd ;
      
      
    }
    .post_writing_thumbnail input::placeholder{
       
        padding-left: 10px; 
        
      
    }
/* post_writing css  */

   
/* post_writing modal   */
.modal-post{
    
    font-size: 14px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background:  rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 18px -5px rgb(186, 232, 253);
}
.modal-post-body{

position: relative;

height: 80vh;
padding: 32px 24px;
text-align: center;
background: #fff;
border-radius: 10px;
margin: auto;
margin-top: 60px;
padding: 10px;
align-self: center;
box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.5);
}
#close_post_modal{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.post-account {
    display: flex;
   align-items: center;
}
.post-account img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.post-account p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.post-input{
    margin-top: 15px;
}
.post-input input{
  
   
    width: 100%;
    height: 50px;
    
    border: none;
  
    height: 60px;

}
.post-input input::placeholder{
    padding-left: 10px;
    font-size: 15px;
   
    

}
.post-image{
    height: 60vh;
}
.post-image img{
    width: 60%;
    max-height: 500px;
    object-fit: cover;

}
.button-post{
    width: 100%;
    
}


/* end post_writing modal   */
@media screen and (max-width: 992px) {
    .personal-image img {
        width: 120px;
    }
}